<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home page</title>
    <link rel='stylesheet' href='/webjars/bootstrap/4.3.1/css/bootstrap.min.css'>
    <script src="/webjars/jquery/3.3.1/jquery.min.js" th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
    <script src="/webjars/bootstrap/4.3.1/js/bootstrap.min.js" th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
    <script src="/js/admin.js" th:src="@{/js/admin.js}"></script>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand text-white">Task5_Spring</a>
    <form class="form-inline my-2 my-lg-0">
        <a style="color: white" th:href="@{/logout}">Logout</a>
    </form>
</nav>
<br>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" href="/admin">
                            <span data-feather="home"></span>
                            Admin <span class="sr-only"></span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="/user">
                            <span data-feather="home"></span>
                            User <span class="sr-only"></span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <nav class="col">
            <ul class="nav nav-tabs" id="tabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link active" id="listUser" data-toggle="tab" href="#list" role="tab"
                       aria-controls="list" aria-selected="true">List users</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="addUser" data-toggle="tab" href="#add" role="tab" aria-controls="list"
                       aria-selected="false">Add user</a>
                </li>
            </ul>
            <div class="tab-content" id="tabContent">
                <div class="tab-pane fade show active" id="list" role="tabpanel" aria-labelledby="listUsers">
                    <table class="table table-striped" id="user-table">
                        <tr>
                            <th class="col-*">Id</th>
                            <th class="col-*">Login</th>
                            <th class="col-*">Name</th>
                            <th class="col-*">Email</th>
                            <th class="col-*">Roles</th>
                            <th class="col-*">Edit</th>
                            <th class="col-*">Delete</th>
                        </tr>
                    </table>
                </div>
                <div class="tab-pane fade" id="add" role="tabpanel" aria-labelledby="addUser">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col bg-light">
                                <h5>Add new user</h5>
                            </div>
                        </div>
                        <div class="row justify-content-center">
                            <div class="col-6">
                                <form id="addFormUser" action="">
                                    <label>Login</label>
                                    <input id="newLogin" class="form-control" name="login" value="" type="text">
                                    <label>Password</label>
                                    <input id="newPassword" class="form-control" name="password" value="" type="password">
                                    <label>Confirm password</label>
                                    <input class="form-control" name="confPassword" value="" type="password">
                                    <label>Name</label>
                                    <input id="newName" class="form-control" name="name" value="" type="text">
                                    <label>eMail</label>
                                    <input id="newEmail" class="form-control" name="email" value="" type="email">
                                    <label>Role</label>
                                    <input class="roles" id="roleUser" type="checkbox" name="roles" value="USER" checked>USER
                                    <input class="roles" id="roleAdmin" type="checkbox" name="roles" value="ADMIN">ADMIN<br>
                                    <div class="row justify-content-center">
                                        <div class="col-5">
                                            <input class="btn btn-success" type="submit" onclick="addForm()" name="add" value="Add new user">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal fade" id="editUser" tabindex="-1" role="dialog" aria-labelledby="editUser"
                     aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <form id="editFormUser" class="form-group" action="">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5>Edit user</h5>
                                </div>
                                <div class="modal-body">
                                    <div class="align-items-center align-content-center">
                                        <label class="form-text">Id</label>
                                    </div>
                                    <input id="id" name="id" value="" type="text" readonly
                                           class="disabled form-control bg-light">
                                    <label class="form-text">Login name</label>
                                    <input id="login" name="login" value="" type="text" class="form-control">
                                    <label class="form-text">Password</label>
                                    <input name="password" value="" type="password" class="form-control">
                                    <label class="form-text">Confirm password</label>
                                    <input name="confPassword" value="" type="password" class="form-control">
                                    <label class="form-text">Nick name</label>
                                    <input id="name" name="name" value="" type="text" class="form-control">
                                    <label class="form-text">eMail</label>
                                    <input id="email" name="email" value="" type="email" class="form-control">
                                    <label class="form-text">Role</label>
                                    <div class="form-inline">
                                        <input class="editRoles" type="checkbox" name="roles" value="USER" checked>USER
                                        <input class="editRoles" type="checkbox" name="roles" value="ADMIN">ADMIN<br>
                                    </div>
                                    <br>
                                </div>
                                <div class="modal-footer">
                                    <button class="btn btn-success" type="submit" onclick="editForm()" name="edit">Edit user</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </nav>
    </div>
</div>
</body>
</html>